#projets h2{
    font-size: 3vw;
    text-align: center;
}

.container-projets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.projet {
    width: clamp(80%, 60%, 60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--font-color);
    background-color: var(--bg-projet);
    border-radius: 30px;
    margin: 30px 0;
    padding: 30px;
    border: 2px solid var(--primary-color );
    box-shadow: 0px 0px 15px var(--primary-color);

    .flex span{
        color: var(--font-color-sky-blue);
        font-size: clamp(4vw, 1.5vw, 1.5vw);
        font-family: var(--font-family);
        font-weight: 600;
    }

    h3{
        font-size: clamp(2vw, 2.5vw, 2.5vw);
        background-color: var(--bg-titre-projet);
        border: 2px solid var(--bd-titre-projet);
        box-shadow: 0px 0px 15px var(--bd-titre-projet);
        border-radius:8px;
        padding: 5px 10px;
        text-align: center;
    }

    h4{
        font-size: 4vw;
        margin: 10px 0;
        
    }

    p{
        width: 50%;
        padding: 2vw 0;
        font-size: clamp(1.5vw, 1.5vw, 1.5vw);
    }

    .competences{
        display: flex;
        gap: 10px;
        margin-top: 10px;
        justify-content: flex-start;
    }

    .competences span{
        background-color: var(--competences-color);
        border-radius:8px;
        padding: 5px;
        color: var(--competences-color-text);
        width: 100px;
        display: flex;
        justify-content: center;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 460px) {
    #projets h2 {
        font-size: 6vw;
    }

    .projet {
        width: 80%;
        padding: 20px;
        margin: 20px 0;
    }

    .flex h3 {
        font-size: 3vw;
    }

    .projet h4 {
        font-size: 4vw;
    }

    .projet p{
        width: 100%;
        font-size: 3vw;
    }

    .projet .flex span {
        font-size: 5vw;
    }
    .competences span{
        width: 80px;
        font-size: 3vw;
    }
}

@media screen and (min-width: 1200px) {
    .projet {
        width: 60%;
        padding: 50px 80px;
        margin: 30px 0;
    }

    .flex h3 {
        font-size: 1.5vw;
    }

    .projet h4 {
        font-size: 2vw;
    }

    .projet p{
        width: 60%;
        font-size: clamp(1vw, 1.5vw, 1.5vw);
    }

    .projet .flex span {
        font-size: 1.5vw;
    }
    .competences span{
        width: 100px;
        font-size: 0.6vw;
    }

    
}