header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 1vw 5px 1vw;
    background-color: var(--header-color);
    border-bottom: 4px solid var(--primary-color);
}

.name {
    padding-left: 3vw;
    font-size: 1.7vw;
    color: #fff;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 1rem;
    width:20%;
}

li{
    list-style: none;
    color: var(--font-color);
    font-weight: 700;
    font-size: 1.3vw;
    transition: all 0.3s ease;
    text-decoration: underline #ffffff00 3px;
    text-underline-offset: 5px;
    cursor:pointer;
}

li:hover {
    text-decoration: underline var(--primary-color) 3px;
    text-underline-offset: 5px;
}

li:focus {
    text-decoration: underline var(--primary-color) 3px;
    text-underline-offset: 5px;
}

.burger {
    display: none;
}



@media screen and (max-width: 500px) {
    header {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 2vw 1vw 5px 1vw;
    }

    .name {
        width: 40%;
        font-size: 3vw;
        margin-right: 10px;
    }

    nav {
        width: 60%;
        opacity: 0;
        transition: all 0.4s ease;
    }

    nav.open {
        opacity: 1;
        background-color: var(--bg-color);
        width: 60%;
        transition: all 0.7s ease;
    }

    li {
        font-size: 3vw;
    }

    .burger {
        margin-left:5vw ;
        display: block;
        cursor: pointer;
        z-index: 10;
    }

    .burger span {
        display: block;
        width: 25px;
        height: 4px;
        margin: 5px auto;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
    }

    .burger.active span:nth-child(1) {
        -webkit-transform: translateY(9px) rotate(45deg);
        transform: translateY(9px) rotate(45deg);
    }
    .burger.active span:nth-child(2) {
        opacity: 0;
    }
    .burger.active span:nth-child(3) {
        -webkit-transform: translateY(-9px) rotate(-45deg);
        transform: translateY(-9px) rotate(-45deg);
    }

}