@import "./variable.css";

*{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

a {
    color: var(--font-color);
    text-decoration: none;
}

.projet a:focus {
    outline: 0px solid;
}

body {
    background: var(--bg-color);
    color: var(--font-color);
}

header {
    position: sticky;
}
