@import "./variable.css";

*{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

a {
    color: var(--font-color);
    text-decoration: none;
}

.projet a:focus {
    outline: 0px solid;
}

body {
    background: var(--bg-color);
    color: var(--font-color);
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

footer {
    margin-bottom: 20px;
    text-align: center;
}


/* Style des scrollbars */
html {
    scrollbar-width: thin;
    scrollbar-color: var(--bd-bubble) var(--bubble-bg);
}

html::-webkit-scrollbar {
    width: 0.65rem;
    height: 0.65rem;
}

html::-webkit-scrollbar-track {
    background: var(--background-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--orbs-primary-color);
    border: 2px solid var(--background-color);
    border-radius: 50px;
}

html::-webkit-scrollbar-thumb:hover {
    background: var(--font-color);
}