:root {
    --font-family: "Manrope", sans-serif;

    --color-primary: #ffffff;
    --color-secondary: #0e0038;
    --bg-color: #070118;
    --font-color: #ffffff;
    --font-color-sky-blue:#7DC0FF;

    --bg-projet:#090724;
    
}