:root {
    --font-family: "Manrope", sans-serif;

    --primary-color: #ffffff;
    --secondary-color: #0e0038;
    --bg-color: linear-gradient(180deg, #000000 0%, #07031a 38%, #0D0824 87%, #000000 100%);
    --font-color: #ffffff;
    --font-color-sky-blue:#ffffff;
    --header-color: #00091ff4;

    --title-gradient: linear-gradient(135deg, #00FFFF 24%, #00A26F 80%);
    --btn-blue: linear-gradient(135deg, #4EC4FF 24%, #002D8E 80%);


    --bg-projet:#090724;
    --bg-titre-projet:#193E50;
    --bd-titre-projet:#ffffff;
    --competences-color:#465974;
    --competences-color-text:#00eeff;

    --lgg-bar:#0F172A;
    --lgg-competences-color:#ffffff;
    --lgg-gradient: linear-gradient(135deg, #2563EB 24%, #22D3EE 50%, #67E8F9 100%);

    --bubble-bg:#00325E;
    --bd-bubble:#65B9FF;
    --bg-contact:#0F1C3C;
}
